:root {
  --terminal-text-color: #1ff042;
  --terminal-text-error: red;
  --terminal-text-placeholder: gray;
  --terminal-background-color: #000;
}
@-webkit-keyframes cursor-blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes cursor-blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes cursor-blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.terminal {
  position: relative;
  background-color: var(--terminal-background-color, #000000);
  padding: calc(100% * 0.02) calc(100% * 0.05);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.terminal .prompt {
  color: var(--terminal-text-color, #1ff042);
  display: block;
  font-family: AndaleMono, monospace;
  font-weight: 700;
  font-size: .9em;
  letter-spacing: .15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgb(31 240 66 / 75%);
  line-height: 1;
  margin-bottom: .75em;
}
.terminal .prompt:before {
  content: attr(data-prefix);
  display: inline-block;
}
.terminal .new-output {
  display: inline-block;
}
.terminal .new-output span {
  color: var(--text-placeholder, gray);
}
.terminal .new-output.active:after {
  display: inline-block;
  vertical-align: -.15em;
  width: .75em;
  height: 1em;
  margin-left: 5px;
  background: var(--terminal-text-color, #1ff042);
  box-shadow: 1px 1px 1px rgb(31 240 66 / 65%), -1px -1px 1px rgb(31 240 66 / 65%), 1px -1px 1px rgb(31 240 66 / 65%), -1px 1px 1px rgb(31 240 66 / 65%);
  -webkit-animation: cursor-blink 1.25s steps(1) infinite;
  animation: cursor-blink 1.25s steps(1) infinite;
  content: "";
}
.terminal ul {
  padding: 0;
  margin: 0;
}
.terminal ul li.result {
  color: var(--terminal-text-color, #1ff042);
  display: block;
  width: 100%;
  font-family: AndaleMono, monospace;
  font-size: .9em;
  letter-spacing: .15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgb(31 240 66 / 75%);
  line-height: 1;
  margin: 0.3rem 0;
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: calc(-0.4 * 100vw);
  }
  100% {
    left: 0;    
  }
}
@-moz-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: calc(-0.4 * 100vw);
  }
  100% {
    left: 0;    
  }
}
@keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: calc(-0.4 * 100vw);
  }
  100% {
    left: 0;    
  }
}
.terminal ul.block {
  position: relative;
}
@media (max-width: 425px) {
  .terminal ul.block {
    -webkit-animation: run 5s linear infinite;
    animation: run 5s linear infinite;
  }
}
.terminal ul.block li.result {
  white-space: nowrap;
}
.terminal ul.error li.result {
  color: var(--terminal-text-error, red);
}
.terminal .here {
  position: fixed;
  left: 0;
  background-color: #000;
  width: 100%;
  bottom: 0;
  color: #FFF;
  opacity: 0;
  cursor: none;
  z-index: -1;
}
