:root {
  --header-height: 1.5rem;
  --footer-height: 2rem;
}
:root[data-theme="theme-clasic"] {
  --footer-background: #1f7acc;
  --footer-font-family: AndaleMono, monospace;
}
:root[data-theme="theme-monitor"] {
  --footer-background: rgba(0, 0, 0, 0.3);
  --footer-font-family: Inconsolata, monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}
.header {
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  background-color: #252525;
  border-radius: 0.3rem;
  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1700px;
    height: 100%;
    padding: 0 calc(100% * 0.05);
    width: 100%;
  }
}
.terminal-container {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}
@media (max-width: 425px) {
  .terminal-container {
    height: calc(100vh/2 - var(--header-height) - var(--footer-height));
  }
}
.footer {
  display: flex;
  width: 100%;
  max-width: 1700px;
  justify-content: stretch;
  align-items: center;
  background-color: var(--footer-background);
  height: var(--footer-height);
  flex-direction: row;
  padding: 0 calc(100% * 0.05);
  span {
    flex-basis: 100%;
    font-family: var(--footer-font-family);
    letter-spacing: 0.2rem;
    padding: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    align-self: stretch;
    flex-grow: 1;
    &:nth-child(1)::before {
      content: "▪";
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
      font-size: 0.8rem;
      letter-spacing: 0.3em;
    }
  }
}
