:root {
  --background-color: #000000;
  --text-color: #CCCCCC;
  --header-height: 2rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}
html, body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.header {
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
}
.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1700px;
  height: 100%;
  padding: 0 calc(100% * 0.05);
  width: 100%;
}
.terminal-container {
  width: 100%;
}
@media (max-width: 425px) {
  .terminal-container {
    height: calc(100vh/2 - var(--header-height));
  }
}
.footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1700px;
  height: 2rem;
  background-color: transparent;
  color: gray;
  flex-direction: row-reverse;
  padding: 0 calc(100% * 0.05);
}